<nav id="theme-nav">
    <div class="inner">
        <a class="title" href="/"><%= theme.nav.title %></a>
        <div class="nav-arrow"></div>
        <div class="nav-items">
            <a class="nav-item nav-item-home" href="/"><%= __('home') %></a>
            <% for (const i in theme.nav.items) { %>         
            <a class="nav-item" href="<%- url_for(theme.nav.items[i]) %>"><%= i %></a>
            <% } %>
    
            <span class="nav-item nav-item-icon nav-item-light-dark" id="nav-item-light-dark">&nbsp;</span>
        </div>
    </div>
</nav>